/* General Styles */
/* Container */
.forgot_password_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

/* Form Section */
.forgot_password_form-container {
  background-color: black;
  color: white;
  margin: auto;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
}

.forgot_password_form-title {
  color: #ffa500;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.forgot_password_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot_password_input-field {
  padding: 10px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 14px;
}

.forgot_password_submit-button {
  background-color: #ffa500;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
}

.forgot_password_login-link {
  color: #ccc;
  margin-top: 15px;
  cursor: pointer;
}

.forgot_password_login-link a {
  color: #ffa500;
  text-decoration: none;
}
