/* General Styles */
/* Container */
.reset-password_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

/* Header */
.reset-password_header {
  background-color: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-password_brand {
  color: #ffa500;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.reset-password_auth-buttons {
  display: flex;
  gap: 10px;
}

.reset-password_login-button,
.reset-password_signup-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  /* font-weight: bold; */
}

.reset-password_signup-button {
  background-color: #ffa500;
  color: black;
  border-radius: 4px;
}

/* Form Section */
.reset-password_form-container {
  background-color: black;
  color: white;
  margin: auto;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
}

.reset-password_form-title {
  color: #ffa500;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.reset-password_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-password_input-field {
  padding: 10px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 14px;
}

.reset-password_submit-button {
  background-color: #ffa500;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
}

.reset-password_login-link {
  color: #ccc;
  margin-top: 15px;
  cursor: pointer;
}

.reset-password_login-link a {
  color: #ffa500;
  text-decoration: none;
}
