.userdashboard_main_container {
    overflow-x: hidden;
}

.userdashboard_container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 70vh;
    width: 100vw;
}

/* menu */
.userdashboard_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    background-color: black;
}

.userdashboard_menu_picture {
    display: flex;
    justify-content: center;
}

.userdashboard_profile_picture {
    width: 100px;
}

.userdashboard_menu_link_container {
    width: 100%;
    color: white;
}

.userdashboard_menu_link_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    list-style-type: none;
}

.userdashboard_menu_link_list > li {
    padding-left: 20px;
}

.userdashboard_menu_link_list > li:nth-child(1) {
    background-color: #ffa500;
}

.userdashboard_menu_link_list > li > i {
    margin: 10px;
}

.userdashboard_menu_link_list > li {
    cursor: pointer;
    width: 100%;
}

.userdashboard_menu_link_list > li:hover {
    background-color: #ffa500;
    cursor: pointer;
}

/* content */
.userdashboard_content {
    width: 85%;
    background-color: rgb(207, 207, 207);
}

